<div id="form" ng-controller="FormController as form">
<form name="formForm" novalidate>
<!-- 
  <input name="authenticity_token" ng-model="profile.authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
-->  
<h2>{{submitted}}</h2>



	<div layout="column">
	  <md-content class="md-padding">
	    <form name="form_form">
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>Is This Your First Hackathon?</label>
	          <md-switch ng-model="form.first_hackathon" aria-label="Switch 1">
    				First Time Hacker: {{ form.first_hackathon }}
  				</md-switch>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Tell Us About Your Favorite Project You Have Worked on.</label>
	          <textarea name="project" ng-model="form.project" columns="1" md-maxlength="250"></textarea>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Why Hack Arizona?</label>
	          <textarea name="why" ng-model="form.why" columns="1" md-maxlength="250"></textarea>
	        </md-input-container>
	      </div>
	      <md-input-container flex>
	        <label>How Did You Hear About Us?</label>
	        <textarea name="how_did_you_hear_about_us" ng-model="form.how_did_you_hear_about_us" columns="1" md-maxlength="150"></textarea>
	      </md-input-container>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>What Sponsor Do You Want to See the Most?</label>
  			  <textarea name="sponsor_you_want_to_see" ng-model="form.sponsor_you_want_to_see" columns="1" md-maxlength="50"></textarea>
	        </md-input-container>
	        <md-input-container flex>
	          <label>Twitter</label>
	          <input name="twitter" ng-model="profile.twitter" type="text">
	        </md-input-container>
	        <md-input-container flex>
	          <label>LinkedIn</label>
	          <input name="linkedin" ng-model="profile.linkedin" type="text">
	        </md-input-container>
	      </div>
	      <div layout layout-sm="column">
	      	<md-input-container flex>
	          <label>GitHub</label>
	          <input name="GitHub" ng-model="profile.github" type="text">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Resume</label>
	          <input name="resume" ng-model="profile.resume" type="text">
	        </md-input-container>
	        <md-input-container flex>
	          <label>Website</label>
	          <input name="website" ng-model="profile.website" type="text">
	        </md-input-container>
	      </div>
	      <md-input-container flex>
	        <label>Biography</label>
	        <textarea ng-model="user.biography" columns="1" md-maxlength="150"></textarea>
	      </md-input-container>
	    </md-content>
	    	<md-button class="md-raised md-primary" ng-click="save(form);showActionToast()">Submit</md-button>
	  </form>
	</div>

