<md-content class="container" layout="row" layout-margin layout-sm="column">
    <md-card class="event-card" flex>
    <%= image_tag("hack_arizona_logo.png") %>
      <md-card-content>
        <h2>Hack Arizona</h2>
        <p>
          University of Arizona
        </p>
      </md-card-content>
    </md-card>

    <md-card class="event-card" flex>
    <%= image_tag("hack_arizona_logo.png") %>
      <md-card-content>
        <h2>Hack Arizona</h2>
        <p>
          University of Arizona
        </p>
      </md-card-content>
    </md-card>

    <md-card class="event-card" flex>
    <%= image_tag("hack_arizona_logo.png") %>
      <md-card-content>
        <h2>Hack Arizona</h2>
        <p>
          University of Arizona
        </p>
      </md-card-content>
    </md-card>
  </md-content>
