<div id="profile" ng-controller="ProfileController as profile" ng-init="load(<%=@user.to_json%>)">
<form name="profile_form" novalidate>
<!-- 
	<input name="authenticity_token" ng-model="profile.authenticity_token" type="hidden" value="<%= form_authenticity_token %>" />
-->  
<h2>{{created}}</h2>

	<input name="first_name" ng-model="profile.first_name" placeholder="Hactus" type="text">
	{{profile.first_name}}

	<input name="last_name" ng-model="profile.last_name" placeholder="Cactus" type="text">
	{{profile.last_name}}

	<input name="email" ng-model="profile.email" placeholder="test" type="text" required>
	{{profile.email}}

	<select name="school" ng-model="profile.school" placeholder='school' type="text" >
	{{profile.school}}

	<input name="facebook" ng-model="profile.facebook" placeholder="facebook" type="text" required>
	{{profile.facebook}}

	<input name="linkedin" ng-model="profile.linkedin" placeholder="linkedin" type="text">
	{{profile.linkedin}}

	<input name="twitter" ng-model="profile.twitter" placeholder="twitter" type="text">
	{{profile.twitter}}

	<input name="github" ng-model="profile.github" placeholder="github" type="text">
	{{profile.github}}

	<input name="resume" ng-model="profile.resume" placeholder="resume" type="text">
	{{profile.resume}}

	<input name="website" ng-model="profile.website" placeholder="website" type="text">
	{{profile.website}}

  <button ng-click="save(profile)">Save</button>
</form>
</div>


