<div id="hero">
	<div class="container">
		<h1>Cactus</h1>
		<h3>"Open-source event management platform"</h3>
	</div>
</div>

<div id="hack-arizona" layout="column">
		<md-button href="http://google.com" class="md-button-colored" flex="5">
  			Organizers
		</md-button>
		<md-button href="http://google.com" class="md-button-colored" flex="5">
  			Hackers
		</md-button>
	<div class="container">
		<div class="mountains"><div class="one"></div></div>
	</div>
</div>