<div id="hero">
	<div class="container">
		<h1>Cactus</h1>
		<h3>Lorem ipsum dolor sit amet.</h3>
	</div>
</div>

<div id="hack-arizona">
	<div class="container">
		<div class="mountains"><div class="one"></div></div>
	</div>
</div>