<h2>Log in</h2>
<div layout="column">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <md-content class="md-padding">
      <div layout="column">
        <md-input-container flex>
          <label>Email</label>
          <%= f.email_field :email, autofocus: true %>
        </md-input-container>
        <md-input-container flex>
          <label>Password</label>
         <%= f.password_field :password, autocomplete: "off" %>
        </md-input-container>
        <md-button class="md-raised md-primary">Login</md-button>
      <% end %>
  </div>

<%= render "devise/shared/links" %>
