html, body {
	background: #edeef0 !important;
}
a {
	text-decoration: none;
}
.container {
	max-width: 864px;
	margin: 0 auto;
}
.modal {
	width: 360px;
}
.devise a {
	color: #000;
	text-decoration: none;
	font-weight: 400;
}
.devise h2 {
	font-weight: 400;
}